#icons {
    
    width: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

#game-image{
    width: 128px;
    height: 128px;
}

body{
    text-align: center;
    background-color: black;
    color:gold;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.center
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
    align-items: center;
}


#game-info{
    margin-top: 10px;
    visibility: hidden;
}
#new-name{
    background-color: black;
    border-width: 3px;
    border-color: white;
    color: gold;
    margin-left: 5px;
}

#new-description{
    background-color: black;
    border-width: 3px;
    border-color: white;
    color: gold;
    margin-left: 5px;
}

#new-image{
    background-color: black;
    border-width: 3px;
    border-color: white;
    color: gold;
    margin-left: 5px;
}

#newG-button{
    background-color: gold;
    border-width: 4px;
    margin-left: 5px;

}



/*
#form{
    visibility: hidden;
}*/

